.extension-video-toggle-container {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 2;
  display: flex;
  align-items: center;
}
.extension-video-toggle-container span {
  border: 1px solid #999;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  margin-left: 10px;
  display: flex;
  height: 22px;
  width: 22px;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
.extension-video-toggle-container span svg {
  height: 12px;
  width: 12px;
}
.extension-video-toggle-container span svg path {
  fill: #fff;
  transition: all 0.3s ease-in-out;
}
.extension-video-toggle-container span.active,
.extension-video-toggle-container span::hover {
  background: #fff;
}
.extension-video-toggle-container span.active svg path,
.extension-video-toggle-container span::hover svg path {
  fill: #000;
}

.extension-card-dim {
  opacity: 0.3;
}

extension-card-show {
  position: relative !important;
  opacity: 1;
}

.extension-card-hide {
  position: absolute !important;
  top: -100vh;
}
