.extension-video-toggle-container {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 99;
  display: flex;
  align-items: center;
  animation-name: opacityEnter;
  animation-duration: 0.3s;
}
.extension-video-toggle-container span {
  border: 1px solid #999;
  cursor: pointer;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  margin-left: 10px;
  display: flex;
  height: 22px;
  width: 22px;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
.extension-video-toggle-container span svg {
  height: 12px;
  width: 12px;
}
.extension-video-toggle-container span svg path {
  fill: #fff;
  transition: all 0.3s ease-in-out;
}
.extension-video-toggle-container span.active,
.extension-video-toggle-container span:hover {
  background: #fff;
}
.extension-video-toggle-container span.active svg path,
.extension-video-toggle-container span:hover svg path {
  fill: #000;
}

span.extension-card-dim,
div.extension-card-dim {
  opacity: 0.3;
}

span.extension-card-show,
div.extension-card-show {
  position: relative !important;
  opacity: 1 !important;
  top: unset !important;
}

span.extension-card-hide,
div.extension-card-hide {
  position: fixed !important;
  top: -100vh !important;
}

@keyframes opacityEnter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
